#overlay-header {
	position: absolute;
	z-index: 2;
}
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#ten {
	position: relative;
	z-index: 3;
}
#overlay-header .overlogo {
	position: absolute;
	padding-left: 125px;
	padding-top: 57px;
}

#overlay-header label {
  position: fixed;
  z-index: 1;
  right: 100px;
}

#overlay-header input {
  display: none;
}

#overlay-header input:checked ~ label {
  right: 0px;
}

#overlay-header .burger {
  position: relative;
  top: 72px;
  cursor: pointer;
}

#overlay-header .burger g {
  stroke: #fff;
  -webkit-transition: stroke 0.25s ease-in-out;
  transition: stroke 0.25s ease-in-out;
}

#overlay-header .burger g:hover {
  stroke: #ccc;
}

#overlay-header input:checked ~ label .burger {
  opacity: 0;
}

#overlay-header .close {
  position: fixed;
  top: 75px;
  right: 120px;
  cursor: pointer;
  opacity: 0;
}
#overlay-header .close g:hover {
  stroke: #1d2025;
}

#overlay-header .close g {
  stroke: #fff;
  -webkit-transition: stroke 0.25s ease-in-out;
  transition: stroke 0.25s ease-in-out;
}

#overlay-header .close line {
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

#overlay-header .close g {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
}

#overlay-header input:checked ~ label .close {
  opacity: 1;
}
#overlay-header .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
/*  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;*/
  position: fixed;
  opacity: 0;
  width: 100%;
  height:100vh;
  background-color: #1d2025;
  -webkit-transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #fff;
  font-size: 36px;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

#overlay-header .menu {
	background: #1d2025 url(../../images/site-img172.jpg) no-repeat center top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
/*	background-size: 100% 100%;*/
}

#overlay-header .menu a {
  color: #fff;
}

#overlay-header .menu a:hover {
	letter-spacing: 9px;
}

#overlay-header input:checked ~ .menu {
  opacity: 1;
  overflow: hidden;
}

#overlay-header .menu div {
	margin-top: 45px;
	padding-top: 40px;
	-webkit-transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#overlay-header .menu div.first {
  padding-top: 216px;
}

#overlay-header input:checked ~ .menu div {
  margin-top: 0px;
}



@media only screen and (max-width: 1024px){
#overlay-header .overlogo {
	padding-left: 50px;
	padding-top: 35px;
}
#overlay-header label {
  right: 50px;
}
#overlay-header .burger {
  top: 50px;
}
#overlay-header .close {
  top: 50px;
  right: 50px;
}
#overlay-header .menu {
  font-size: 27px;
}
#overlay-header .menu div.first {
  padding-top: 160px;
}
#overlay-header .menu div {
	margin-top: 0px;
	padding-top: 30px;
}

}

@media only screen and (max-width: 768px){
#overlay-header .overlogo {
	padding-left: 30px;
	padding-top: 25px;
}
#overlay-header label {
  right: 30px;
}
#overlay-header .burger {
  top: 35px;
}
#overlay-header .close {
  top: 35px;
  right: 30px;
}
#overlay-header .menu {
  font-size: 18px;
}
#overlay-header .menu div.first {
  padding-top: 100px;
}
#overlay-header .menu div {
	margin-top: 0px;
	padding-top: 20px;
}

}

@media only screen and (max-width: 480px){
#overlay-header .overlogo {
	padding-left: 20px;
	padding-top: 20px;
}
#overlay-header .overlogo img {
	width: 500%;
	position: absolute;
}
#overlay-header label {
  right: 0px;
}
#overlay-header .burger {
  top: 20px;
}
#overlay-header .close {
  top: 20px;
  right: 10px;
}
#overlay-header .menu {
  font-size: 14px;
}
#overlay-header .menu div.first {
  padding-top: 36px;
}
#overlay-header .menu div {
	margin-top: 0px;
	padding-top: 5px;
}

}







